---
import PageLayout from '../layouts/PageLayout.astro'
import PostList from "../components/posts/PostList.astro";
import {getCollection} from "astro:content";
import Header from "../layouts/Header.astro";

const posts = await getCollection("posts")
console.log(posts)
---

<PageLayout>
    <div class="h-16 mb-6">
        <Header />
    </div>
    <PostList posts={posts} />
</PageLayout>