---
import { getCollection } from 'astro:content';
import PageLayout from '../layouts/PageLayout.astro';
import PostHead from '../components/posts/PostHead.astro';
import PostList from "../components/posts/PostList.astro";

const title = import.meta.env.VITE_APP_TITLE;
const allPosts = await getCollection('posts');
const latestPosts = allPosts.sort((a, b) => b.data.pubDate - a.data.pubDate).slice(0, 5);
---

<PageLayout title="Inicio">
    <div class="py-8 px-4 bg-gradient-to-b from-primary from-0% via-transparent via-10%">
        <section class="space-y-8">
            <header class="relative w-full space-y-2">
                <img src="/public/logo.jpg" alt="logo de la web" class="h-28 aspect-square font-bold mx-auto" />
                <h1 class="text-4xl text-center text-primary">{title}</h1>
                <h2 class="text-2xl text-center text-pretty text-gray-500">Autosuficiencia y sostenibilidad en un mismo punto</h2>
            </header>
    
            <main class="flex flex-col items-center space-y-6">
                <!-- Últimos 3 posts -->
                <PostList posts={latestPosts} />
            </main>
        </section>
    </div>
</PageLayout>