---
    import PageLayout from '../layouts/PageLayout.astro';

    const title = import.meta.env.VITE_APP_TITLE;
---

<PageLayout title={title}>
    <section>
        <header class="w-full h-28 space-y-2">
            <img src="/public/logo.jpg" alt="logo de la web" class="h-full aspect-square mx-auto" />
            <h1 class="text-9xl text-center text-primary">{title}</h1>
            <h2 class="text-2xl text-center text-secondary">Tu blog de tal y cual</h2>
        </header>
    </section>
</PageLayout>