---

---

<div class="w-full">
    <p class="w-1/2 border-t-2 mx-auto"></p>
    <div class="md:flex flex-row ">
        <p>Jorge amat</p>
        <p>{import.meta.env.VITE_APP_TITLE}</p>
        <p>2024</p>
    </div>
</div>