---
---

<div class="flex flex-row h-full items-center bg-primary text-white space-x-6 border-b-2 border-accent">
    <a class="h-full" href="/">
        <img src="/logo.webp" class="h-full aspect-square" alt="Logo de la página web" />
    </a>
    <ul class="flex flex-row items-center space-x-6">
        <li>
            <a class="text-xl font-bold" href="/">Inicio</a>
        </li>
        <li>
            <a class="text-xl font-bold" href="/blog">Blog</a>
        </li>
    </ul>
</div>