---
import PageLayout from "./PageLayout.astro";
const {title, autor, pubDate} = Astro.props;
---

<PageLayout title={title} >
    <article>
        <header class="relative w-full h-52 bg-no-repeat bg-center bg-cover flex flex-row items-end" style="background-image: url('/images/posts/post1/preview.jpg')">
            <div class="w-full h-full bg-gradient-to-t from-gray-900 to-50% absolute"></div>
            <div class="px-6 py-4">
                <h2 class="text-gray-100 text-4xl drop-shadow-lg">{title}</h2>
            </div>
        </header>
        <main>
            <div class="py-4 px-8 space-y-6 [&>h3]:text-2xl  [&>h4]:text-2xl  [&>h5]:text-2xl">
                <section class="flex flex-row gap-6">
                    <p class="text-gray-700 flex items-center">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" /><path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" /></svg>
                        </span>
                        {autor}</p>
                    <p class="text-gray-700 flex items-center">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-calendar-week" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 7a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12z" /><path d="M16 3v4" /><path d="M8 3v4" /><path d="M4 11h16" /><path d="M8 14v4" /><path d="M12 14v4" /><path d="M16 14v4" /></svg>
                        </span>
                        {pubDate.toString().slice(4,10)}
                    </p>
                </section>
                    <p class="w-48 border-b-2 border-gray-300 mx-auto"></p>
                <slot />
            </div>
        </main>
    </article>
</PageLayout>
